body{
  margin: 0 auto;
}

.container{
  background: url("../images/screencapture-ikea-se-sv-1503663493169.png");
  margin: 0 auto;
  background-size: cover;
  width: 1160px;
  height: 3000px;
  font-family: verdanab;
}

.container2{
  background: url("../images/page2.png");
  margin: 0 auto;
  background-size: cover;
  width: 1160px;
  height: 3000px;
  font-family: verdanab;
}


button{
  border: none;
  background: none;
  padding: 3px;
  margin: 0px;
}

.controll{
  float: right;
  margin-top: 68px;
  margin-right: 150px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#small-logo{
  height: 28px;
}

.controll2{
  float: right;
  margin-top: 62px;
  margin-right: 178px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}


.nextPage{
  clear: both;
  width: 100%;
  height: 700px;
  width: 100%;
  display: flex;
}

.nextPage a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  text-decoration: none;
}
